*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.main{
    height: 100svh;
    width: 100%;

    background-color: blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-wrapper{
    width: 900px;
    height: 500px;
    background-color: #ecebeb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;

    grid-template-areas: 
    "nav todo todo"
    "nav todo todo"
    "nav todo todo"
    ;
}


.nav-wrapper{

    background-color: aqua;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid rgb(175, 57, 243);
}


.task-wrapper{
    background-color: blue;
    grid-area: todo;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.task-header{
    width: 100%;
    height: 50px;
    background-color: #fff;

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-header-info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 90%;
}



.task{
    width: 90%;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



.task-title{
    font-size: 20px;
    font-weight: 500;
}
