*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.main{
    height: 100svh;
    width: 100%;

    background: linear-gradient(228deg, #E20ECD 0.54%, rgb(4, 0, 4) 108.25%);


    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-wrapper{
    width: 900px;
    height: 500px;
    background-color: #ecebeb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;

    grid-template-areas: 
    "nav nav nav todo todo todo"
    "nav nav nav todo todo todo"
    "nav nav nav todo todo todo"
    ;
}


.nav-wrapper{
    color: white;
    width: 100%;
    font-size: 20px;
    background-color: #B11AE7;
    grid-area: nav;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgb(175, 57, 243);
}

.filter-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    color: white;
    font-size: 22px;
    padding: 25px;
    line-height: 200%;
    font-weight: bolder;

}


.task-wrapper{
    background-color: #61237E;
    grid-area: todo;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.task-header{
    width: 100%;
    height: 50px;
    background-color: #44074E;

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-header-info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 90%;
}
.task-header-item{
    color: white;
    font-size: 18px;
}



.task{
    width: 90%;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



.task-title{
    font-size: 20px;
    font-weight: 500;
}


